body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex; /* Usar flexbox para dividir en dos partes */
}

#map1, #map2 {
    width: 50%; /* Cada mapa ocupará el 50% del ancho */
    height: 100%;
    position: relative;
}

#slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    background: #fff;
    cursor: ew-resize;
    z-index: 20;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
